<link rel="stylesheet" href="/styles/company.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>


<div id="events" class="max-height-auto" style="display: flex;">
    <div class="modal"><img src="/icon/icons8-verified-48.png" alt=""><span class="modalText"></span></div>

        <div class="eventMainBody">
          <div class="eventHead">
            <div class="eventHeadFirstPart">
              <p><a href="/">Главная</a> &gt; <a href="/admin/profile/company/page">Услуга</a>
            </div>
            {{!-- <div id="eventHeadSecondPart" onclick="toggleModal('filter','flex')">
              Фильтр
              <img src="/images/staticimg/Group(10).svg">
            </div> --}}
          </div>
           
          <div id="eventBody">
            {{!-- <div id="eventBodyHead">
              <p>Топ</p>
              <img src="/images/staticimg/delete 1.svg">
            </div> --}}
            <div id="changeEvMainDiv">
            <div id="changeEvMainDivContainer1">
              <div id="changeEvBox_header">
                <h4>онлайн оплата</h4>

                <div id="allowDiv">
                 
                  <button class="buttonAllow whiteBtn" onclick="toggleModal('denyDiv','block')">
                    Отклонить
                  </button>
                  <form action="/admin/profile/company/resolve/{{getValue event "_id"}}" method="POST" enctype="multipart/form-data" id="eventForm">
                  
                  <button type="button" class="buttonAllow" onclick="buttonFunc()">
                    {{#or (eq (getValue event "onlinePay") true) (eq (getValue event "onlinePay") false)}}
    Одобрить
{{else}}
    Изменить
{{/or}}

                {{!-- {{#if (getValue event "status")}}Изменить{{else}}Одобрить{{/if}} --}}
                  </button>
                </div>
              </div>
            </div>
            <hr>

            <div id="changeEvMainDivContainer2">
               
              <div class="changeEvBox">
                <div class="userDiv">
                  <img src="/{{getValue userOwner "avatar"}}" alt="" class="user_image">
                  <div class="userData">                                  
                  <p class="userName">
                  {{getValue userOwner "name"}} {{getValue userOwner "surname"}}
                </p>
                <p class="user_data">{{getValue userOwner "phone_number"}}</p>
                <p class="user_data">{{getValue userOwner "email"}}</p>
                </div>

                </div>


                
                <div class="changeEvBoxCont">

                  <input type="text" class="inputAllow" placeholder="Категория" value="{{getValue eventCat "name"}}" name="name">
                  <input type="text" class="inputAllow" placeholder="Название событий" value="{{getValue event 'companyName'}}" name="name">
                  <input type="text" class="inputAllow" placeholder="Категория" value="{{getValue event "web"}}" name="name"><br>
                  <div>
                  <div class="mapIcon_div">
                    <span>Адрес</span>
                    <svg class="map_icon"  width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 1.20781C5.22408 1.20781 1.79375 4.59711 1.79375 8.69967C1.79375 9.94188 2.21668 11.4224 2.93743 13.0131C3.65119 14.5884 4.61723 16.1859 5.61147 17.6382C7.21473 19.9801 8.84763 21.8817 9.5 22.6174C10.1524 21.8817 11.7853 19.9801 13.3885 17.6382C14.3828 16.1859 15.3488 14.5884 16.0626 13.0131C16.7833 11.4224 17.2063 9.94188 17.2063 8.69967C17.2062 4.5971 13.7759 1.20781 9.5 1.20781ZM9.78643 22.9357L9.78639 22.9357L9.78643 22.9357ZM9.5 14.2728C6.39416 14.2728 3.81909 11.8011 3.81909 8.69967C3.81909 5.59818 6.39423 3.1266 9.5 3.1266C12.6058 3.1266 15.1809 5.59826 15.1809 8.69971C15.1809 11.8012 12.6058 14.2728 9.5 14.2728ZM0.59375 8.69967C0.59375 3.90697 4.58907 0.0078125 9.5 0.0078125C14.4109 0.0078125 18.4062 3.90697 18.4062 8.69967C18.4062 14.6475 10.436 23.3794 10.0967 23.7482C9.77853 24.094 9.22204 24.0947 8.90331 23.7482C8.56397 23.3794 0.59375 14.6475 0.59375 8.69967ZM5.01909 8.69967C5.01909 11.111 7.02919 13.0728 9.5 13.0728C11.9708 13.0728 13.9809 11.1111 13.9809 8.69971C13.9809 6.28837 11.9708 4.3266 9.5 4.3266C7.02924 4.3266 5.01909 6.28832 5.01909 8.69967Z" fill="#00ADA6"/>
                    </svg>
                  </div>
                  <input type="text" class="inputAllow"  value="{{getValue event "address"}}" name="name">
                  </div>
                  <br>
                     <p>Фото интерьеров</p><br>
                                     <div id="pics1">
                                       
                    {{#if event}}
  {{#optionsFromArrays images "_id" "url" }}
    
       <div class="changeEvDiv" style="background-image: url('http://localhost:3000/{{url}}')">
       <img src="/images/pics/GroupX.svg" class="removeButton" onclick="removeimage(this)" attr_id="{{value}}">
    </div>
  {{/optionsFromArrays}}
                    {{/if}}
                    {{!-- <div
                      class="changeEvDiv"
                    >
                      <img src="/images/pics/GroupX.svg" />
                    </div>
                    <div
                      class="changeEvDiv"
                    >
                      <img src="/images/pics/GroupX.svg" />
                    </div>  --}}
                  </div><br>
                  <p>Контакти</p>
                {{#optionsPhoneArrays phone_numbers "number" "telegram" "whatsApp"}}
                  <div class="phoneDiv">
                      <img class="phoneVector" src="http://localhost:3000/fonts/phoneVector.png" alt="">
                      <span>{{phone}}</span>
                  </div>
                      {{#if telegram}}
                      <div class="icons_phone">
                        <div class="telegram_icon">
                          <svg width="25" height="25" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5392 0.567749C16.742 0.776906 16.8054 1.0846 16.7016 1.35686L12.1016 13.4319C12.0111 13.6695 11.8063 13.8451 11.5576 13.8983C11.309 13.9515 11.0503 13.875 10.8705 13.6952L5.82065 8.64539L0.81361 6.97638C0.508858 6.87479 0.30264 6.59041 0.300794 6.26918C0.298948 5.94794 0.501884 5.66121 0.805448 5.55613L15.7554 0.381127C16.0308 0.285824 16.3364 0.358592 16.5392 0.567749ZM7.3857 8.08913L11.1122 11.8156L14.4246 3.12047L7.3857 8.08913ZM11.2425 3.53063L3.38229 6.25147L6.10313 7.15841L11.2425 3.53063Z" fill="green"/>
                          </svg>
                        </div>
                          <svg  width="25" height="25" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.1199 14.1903L14.5117 12.3864C14.4052 12.3334 14.2865 12.3094 14.1677 12.3169C14.0489 12.3245 13.9342 12.3632 13.8352 12.4292L12.0672 13.6074C11.1722 13.1492 10.444 12.421 9.98575 11.5261L11.1652 9.7594C11.2312 9.66038 11.2699 9.54569 11.2774 9.42692C11.285 9.30815 11.261 9.18949 11.208 9.08293L9.40393 5.47509C9.34784 5.36221 9.26132 5.26725 9.15414 5.20092C9.04695 5.13458 8.92336 5.0995 8.79731 5.09965C7.66094 5.09965 6.57111 5.55103 5.76757 6.35449C4.96404 7.15796 4.51262 8.24769 4.51262 9.38396C4.5156 11.9546 5.5382 14.4191 7.35608 16.2368C9.17396 18.0545 11.6387 19.0771 14.2096 19.08C15.3459 19.08 16.4358 18.6287 17.2393 17.8252C18.0428 17.0217 18.4942 15.932 18.4942 14.7957C18.4943 14.67 18.4593 14.5467 18.3932 14.4398C18.327 14.3328 18.2324 14.2464 18.1199 14.1903ZM14.2096 17.7271C11.9974 17.7244 9.87671 16.8445 8.31251 15.2805C6.74831 13.7164 5.86836 11.5959 5.86568 9.38396C5.86574 8.67648 6.12169 7.99289 6.5863 7.45932C7.05092 6.92575 7.69284 6.57819 8.39365 6.48078L9.82113 9.33548L8.6496 11.092C8.58805 11.1847 8.55029 11.2911 8.53967 11.4018C8.52905 11.5125 8.54589 11.6242 8.58871 11.7268C9.21081 13.2057 10.3874 14.3823 11.8665 15.0043C11.9692 15.0471 12.0808 15.064 12.1915 15.0533C12.3023 15.0427 12.4087 15.005 12.5013 14.9434L14.258 13.772L17.113 15.1994C17.0156 15.9001 16.668 16.542 16.1344 17.0065C15.6007 17.4711 14.9171 17.727 14.2096 17.7271ZM11.5034 0.589844C9.50968 0.589425 7.55007 1.10726 5.81684 2.09255C4.08362 3.07784 2.63632 4.49673 1.61694 6.21003C0.597556 7.92332 0.0411108 9.87216 0.00219191 11.8654C-0.036727 13.8586 0.443218 15.8276 1.39494 17.5794L0.0847261 21.5108C-0.00803013 21.7889 -0.0214912 22.0874 0.0458517 22.3727C0.113195 22.6581 0.25868 22.919 0.466002 23.1263C0.673323 23.3336 0.934288 23.4791 1.21965 23.5464C1.50501 23.6137 1.80348 23.6003 2.08162 23.5075L6.01339 22.1974C7.55247 23.0326 9.26196 23.5053 11.0115 23.5795C12.761 23.6537 14.5044 23.3275 16.1087 22.6257C17.713 21.9239 19.1359 20.865 20.2688 19.5299C21.4017 18.1948 22.2147 16.6186 22.6459 14.9215C23.0771 13.2245 23.115 11.4514 22.7568 9.73748C22.3986 8.02355 21.6537 6.41403 20.579 5.03166C19.5042 3.64929 18.128 2.53056 16.5552 1.76079C14.9824 0.991016 13.2545 0.590521 11.5034 0.589844ZM11.5034 22.2369C9.71957 22.2373 7.96712 21.7676 6.42269 20.8749C6.31971 20.8158 6.20317 20.7844 6.08442 20.7836C6.01163 20.784 5.93934 20.7958 5.87019 20.8186L1.65428 22.2234C1.61454 22.2366 1.5719 22.2385 1.53114 22.2289C1.49037 22.2193 1.45309 22.1985 1.42347 22.1689C1.39386 22.1393 1.37307 22.102 1.36345 22.0613C1.35383 22.0205 1.35576 21.9779 1.36901 21.9381L2.77393 17.7271C2.80433 17.6361 2.81503 17.5397 2.80531 17.4442C2.79559 17.3488 2.76567 17.2565 2.71756 17.1735C1.59819 15.24 1.14825 12.9912 1.43755 10.776C1.72685 8.5607 2.73922 6.50283 4.31758 4.9216C5.89595 3.34037 7.95208 2.3242 10.167 2.03072C12.3819 1.73724 14.6318 2.18287 16.5675 3.29847C18.5033 4.41407 20.0167 6.13727 20.8731 8.20074C21.7294 10.2642 21.8808 12.5526 21.3037 14.7108C20.7265 16.8691 19.4532 18.7766 17.6813 20.1374C15.9093 21.4982 13.7377 22.2362 11.5034 22.2369Z" fill="#dadada"/>
                          </svg>
                          <svg width="22" height="22" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0.689453C9.55228 0.689453 10 1.13717 10 1.68945V17.6895C10 18.2417 9.55228 18.6895 9 18.6895C8.44772 18.6895 8 18.2417 8 17.6895V1.68945C8 1.13717 8.44772 0.689453 9 0.689453Z" fill="#A3A3A3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 9.68945C18 10.2417 17.5523 10.6895 17 10.6895L1 10.6895C0.447714 10.6895 -6.78525e-08 10.2417 -4.37114e-08 9.68945C-1.95703e-08 9.13717 0.447714 8.68945 1 8.68945L17 8.68945C17.5523 8.68945 18 9.13717 18 9.68945Z" fill="#A3A3A3"/>
                          </svg>
                      </div>

                      {{/if}}
                      {{#if whats}}
                      <div class="wats_up_icon">
                              <div class="telegram_icon" style="border-color:#dadada ;">
                                <svg  width="25" height="25" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5392 0.567749C16.742 0.776906 16.8054 1.0846 16.7016 1.35686L12.1016 13.4319C12.0111 13.6695 11.8063 13.8451 11.5576 13.8983C11.309 13.9515 11.0503 13.875 10.8705 13.6952L5.82065 8.64539L0.81361 6.97638C0.508858 6.87479 0.30264 6.59041 0.300794 6.26918C0.298948 5.94794 0.501884 5.66121 0.805448 5.55613L15.7554 0.381127C16.0308 0.285824 16.3364 0.358592 16.5392 0.567749ZM7.3857 8.08913L11.1122 11.8156L14.4246 3.12047L7.3857 8.08913ZM11.2425 3.53063L3.38229 6.25147L6.10313 7.15841L11.2425 3.53063Z" fill="#dadada"/>
                                </svg>
                              </div>
                                <svg  width="25" height="25" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M18.1199 14.1903L14.5117 12.3864C14.4052 12.3334 14.2865 12.3094 14.1677 12.3169C14.0489 12.3245 13.9342 12.3632 13.8352 12.4292L12.0672 13.6074C11.1722 13.1492 10.444 12.421 9.98575 11.5261L11.1652 9.7594C11.2312 9.66038 11.2699 9.54569 11.2774 9.42692C11.285 9.30815 11.261 9.18949 11.208 9.08293L9.40393 5.47509C9.34784 5.36221 9.26132 5.26725 9.15414 5.20092C9.04695 5.13458 8.92336 5.0995 8.79731 5.09965C7.66094 5.09965 6.57111 5.55103 5.76757 6.35449C4.96404 7.15796 4.51262 8.24769 4.51262 9.38396C4.5156 11.9546 5.5382 14.4191 7.35608 16.2368C9.17396 18.0545 11.6387 19.0771 14.2096 19.08C15.3459 19.08 16.4358 18.6287 17.2393 17.8252C18.0428 17.0217 18.4942 15.932 18.4942 14.7957C18.4943 14.67 18.4593 14.5467 18.3932 14.4398C18.327 14.3328 18.2324 14.2464 18.1199 14.1903ZM14.2096 17.7271C11.9974 17.7244 9.87671 16.8445 8.31251 15.2805C6.74831 13.7164 5.86836 11.5959 5.86568 9.38396C5.86574 8.67648 6.12169 7.99289 6.5863 7.45932C7.05092 6.92575 7.69284 6.57819 8.39365 6.48078L9.82113 9.33548L8.6496 11.092C8.58805 11.1847 8.55029 11.2911 8.53967 11.4018C8.52905 11.5125 8.54589 11.6242 8.58871 11.7268C9.21081 13.2057 10.3874 14.3823 11.8665 15.0043C11.9692 15.0471 12.0808 15.064 12.1915 15.0533C12.3023 15.0427 12.4087 15.005 12.5013 14.9434L14.258 13.772L17.113 15.1994C17.0156 15.9001 16.668 16.542 16.1344 17.0065C15.6007 17.4711 14.9171 17.727 14.2096 17.7271ZM11.5034 0.589844C9.50968 0.589425 7.55007 1.10726 5.81684 2.09255C4.08362 3.07784 2.63632 4.49673 1.61694 6.21003C0.597556 7.92332 0.0411108 9.87216 0.00219191 11.8654C-0.036727 13.8586 0.443218 15.8276 1.39494 17.5794L0.0847261 21.5108C-0.00803013 21.7889 -0.0214912 22.0874 0.0458517 22.3727C0.113195 22.6581 0.25868 22.919 0.466002 23.1263C0.673323 23.3336 0.934288 23.4791 1.21965 23.5464C1.50501 23.6137 1.80348 23.6003 2.08162 23.5075L6.01339 22.1974C7.55247 23.0326 9.26196 23.5053 11.0115 23.5795C12.761 23.6537 14.5044 23.3275 16.1087 22.6257C17.713 21.9239 19.1359 20.865 20.2688 19.5299C21.4017 18.1948 22.2147 16.6186 22.6459 14.9215C23.0771 13.2245 23.115 11.4514 22.7568 9.73748C22.3986 8.02355 21.6537 6.41403 20.579 5.03166C19.5042 3.64929 18.128 2.53056 16.5552 1.76079C14.9824 0.991016 13.2545 0.590521 11.5034 0.589844ZM11.5034 22.2369C9.71957 22.2373 7.96712 21.7676 6.42269 20.8749C6.31971 20.8158 6.20317 20.7844 6.08442 20.7836C6.01163 20.784 5.93934 20.7958 5.87019 20.8186L1.65428 22.2234C1.61454 22.2366 1.5719 22.2385 1.53114 22.2289C1.49037 22.2193 1.45309 22.1985 1.42347 22.1689C1.39386 22.1393 1.37307 22.102 1.36345 22.0613C1.35383 22.0205 1.35576 21.9779 1.36901 21.9381L2.77393 17.7271C2.80433 17.6361 2.81503 17.5397 2.80531 17.4442C2.79559 17.3488 2.76567 17.2565 2.71756 17.1735C1.59819 15.24 1.14825 12.9912 1.43755 10.776C1.72685 8.5607 2.73922 6.50283 4.31758 4.9216C5.89595 3.34037 7.95208 2.3242 10.167 2.03072C12.3819 1.73724 14.6318 2.18287 16.5675 3.29847C18.5033 4.41407 20.0167 6.13727 20.8731 8.20074C21.7294 10.2642 21.8808 12.5526 21.3037 14.7108C20.7265 16.8691 19.4532 18.7766 17.6813 20.1374C15.9093 21.4982 13.7377 22.2362 11.5034 22.2369Z" fill="green"/>
                                </svg>
                                <svg width="22" height="22" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0.689453C9.55228 0.689453 10 1.13717 10 1.68945V17.6895C10 18.2417 9.55228 18.6895 9 18.6895C8.44772 18.6895 8 18.2417 8 17.6895V1.68945C8 1.13717 8.44772 0.689453 9 0.689453Z" fill="#A3A3A3"/>
                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M18 9.68945C18 10.2417 17.5523 10.6895 17 10.6895L1 10.6895C0.447714 10.6895 -6.78525e-08 10.2417 -4.37114e-08 9.68945C-1.95703e-08 9.13717 0.447714 8.68945 1 8.68945L17 8.68945C17.5523 8.68945 18 9.13717 18 9.68945Z" fill="#A3A3A3"/>
                                </svg>
                      </div>
                      {{/if}}                  
                {{/optionsPhoneArrays}}
                <div  class="emailAllow">
                  <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.4125 6.36223L10.4125 0.362231C10.2892 0.283828 10.1461 0.242188 10 0.242188C9.85392 0.242188 9.71083 0.283828 9.58753 0.362231L0.587531 6.36223C0.482964 6.43007 0.39721 6.5232 0.338214 6.633C0.279217 6.7428 0.248886 6.86572 0.250031 6.99036V16.7404C0.250031 17.1382 0.408066 17.5197 0.689371 17.801C0.970676 18.0823 1.35221 18.2404 1.75003 18.2404H18.25C18.6479 18.2404 19.0294 18.0823 19.3107 17.801C19.592 17.5197 19.75 17.1382 19.75 16.7404V6.99036C19.7512 6.86572 19.7208 6.7428 19.6618 6.633C19.6029 6.5232 19.5171 6.43007 19.4125 6.36223ZM7.06566 12.2404L1.75003 15.9904V8.44348L7.06566 12.2404ZM8.60316 12.9904H11.3969L16.7032 16.7404H3.29691L8.60316 12.9904ZM12.9344 12.2404L18.25 8.44348V15.9904L12.9344 12.2404Z" fill="#A3A3A3"/>
                  </svg>
                  <span>{{getValue event "email"}}</span>
                </div>
                <div class="calendar_div">
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M0 4.64258H17.0009V14.202C17.0009 15.1128 16.3956 15.8217 15.4966 15.9593C15.3634 15.9795 15.229 15.9898 15.0943 15.9901C10.5754 15.9901 6.05619 15.9901 1.53667 15.9901C0.625079 15.9901 0.0464236 15.4292 0.00422017 14.5061C0.000937682 14.4356 0.00140672 14.3642 0.00140672 14.2937C0.00140672 11.1435 0.00140672 7.99315 0.00140672 4.84262L0 4.64258ZM12.5349 6.61083C12.3182 6.61083 12.1016 6.608 11.8854 6.61083C11.62 6.61509 11.4493 6.76595 11.4427 7.0322C11.4315 7.47957 11.4315 7.92695 11.4427 8.37432C11.4488 8.61929 11.5984 8.77913 11.839 8.78622C12.3007 8.8001 12.7626 8.8001 13.2247 8.78622C13.4793 8.77866 13.6054 8.63016 13.6083 8.37432C13.6136 7.93294 13.6136 7.49155 13.6083 7.05017C13.6054 6.77777 13.4394 6.61651 13.1656 6.61178C12.9569 6.608 12.7464 6.61083 12.5358 6.61083H12.5349ZM8.3 13.5896H8.94947C9.21629 13.5806 9.364 13.46 9.3715 13.1971C9.38526 12.7383 9.38526 12.2793 9.3715 11.8199C9.36493 11.5688 9.20503 11.4142 8.95462 11.409C8.51008 11.3989 8.06554 11.3989 7.621 11.409C7.36403 11.4151 7.21069 11.584 7.20834 11.8412C7.20365 12.2769 7.20365 12.7125 7.20834 13.1479C7.21115 13.4222 7.37434 13.583 7.64913 13.5882C7.86531 13.5924 8.08195 13.5891 8.3 13.5896ZM13.6134 12.5123C13.6134 12.2943 13.6162 12.0767 13.6134 11.8587C13.6092 11.5882 13.4619 11.4156 13.1989 11.409C12.7543 11.3976 12.3079 11.3986 11.8653 11.409C11.6148 11.4147 11.4535 11.5693 11.447 11.819C11.4348 12.2721 11.4348 12.726 11.447 13.1786C11.4545 13.4354 11.6261 13.5858 11.8831 13.5886C12.322 13.5929 12.7609 13.5934 13.1993 13.5886C13.4657 13.5849 13.6064 13.4378 13.6125 13.1673C13.6153 12.9478 13.6115 12.7303 13.6115 12.5123H13.6134ZM8.30563 6.61083C8.08336 6.61083 7.86062 6.60752 7.63882 6.61083C7.37528 6.61604 7.21162 6.77683 7.20881 7.0426C7.20365 7.47815 7.20459 7.9137 7.20881 8.34973C7.21115 8.60936 7.35652 8.78008 7.6149 8.78764C8.0707 8.80088 8.52743 8.79994 8.98276 8.78764C9.23504 8.78055 9.36353 8.65144 9.37056 8.39891C9.38369 7.94019 9.38369 7.48115 9.37056 7.02179C9.36353 6.76217 9.19471 6.61651 8.93634 6.61178C8.72673 6.60752 8.51618 6.61083 8.30563 6.61083ZM3.0227 12.5047C3.0227 12.7109 3.0227 12.9171 3.0227 13.1233C3.02598 13.4212 3.18354 13.5858 3.47568 13.5886C3.88521 13.5918 4.29474 13.5918 4.70427 13.5886C4.99172 13.5853 5.18352 13.4085 5.19102 13.1186C5.20196 12.6885 5.20196 12.2585 5.19102 11.8285C5.18399 11.5693 5.02267 11.4132 4.76383 11.408C4.32616 11.3992 3.88725 11.3992 3.44708 11.408C3.18073 11.4142 3.02974 11.5825 3.02505 11.8507C3.01942 12.0687 3.0227 12.2867 3.0227 12.5047ZM4.11014 6.61036H3.46021C3.18823 6.6184 3.02645 6.77872 3.02364 7.05537C3.01989 7.4854 3.01989 7.91544 3.02364 8.34547C3.02364 8.60699 3.16901 8.77913 3.42598 8.78764C3.86442 8.80183 4.30381 8.80088 4.74226 8.78764C5.00626 8.7796 5.18258 8.60132 5.19008 8.33507C5.20227 7.89368 5.20118 7.4523 5.1868 7.01092C5.17836 6.76169 5.00767 6.61745 4.75961 6.61225C4.54296 6.60752 4.32632 6.61083 4.11014 6.61036Z" fill="#00ADA6"/>
                     <path d="M16.9487 3.50699H0.0307752C0.0307752 2.75885 -0.00017437 2.02063 0.0406223 1.28715C0.074385 0.672365 0.571917 -0.0403118 1.5093 -0.00531635C1.93133 0.0102897 2.35337 -0.00531635 2.7754 -0.00531635H2.96719V0.380106C2.96719 0.751814 2.96719 1.12352 2.96719 1.49523C2.96719 1.88302 3.17587 2.12562 3.50271 2.12326C3.82955 2.12089 4.02697 1.8868 4.02838 1.50516C4.02838 1.07481 4.02838 0.643991 4.02838 0.213169V0.00745222H12.4902C12.4934 0.0712952 12.4995 0.133719 12.4995 0.196617C12.4995 0.656759 12.4963 1.1169 12.5023 1.57704C12.5056 1.84282 12.659 2.04192 12.8887 2.10718C13.0993 2.16724 13.3478 2.0911 13.459 1.89626C13.522 1.77829 13.556 1.64673 13.5579 1.51273C13.5701 1.07623 13.5626 0.639734 13.5626 0.202765V-0.00484343C14.0869 -0.00484343 14.59 -0.0195037 15.0918 0.00177729C15.3428 0.00816356 15.591 0.056093 15.8266 0.143651C16.4015 0.37254 16.8113 0.769785 16.9361 1.41058C16.9429 1.43928 16.947 1.46858 16.9482 1.49807C16.9492 2.16487 16.9487 2.83026 16.9487 3.50699Z" fill="#00ADA6"/>
                  </svg>
                  <span>рабочие дни</span>
                </div>
                <input type="text" class="callInputAllow"  value="{{getValue event "days"}}" name="name">
                <div class="calendar_div">
                  <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.65654 18.1471C13.4374 18.1471 17.3131 14.2714 17.3131 9.49052C17.3131 4.70965 13.4374 0.833984 8.65654 0.833984C3.87566 0.833984 0 4.70965 0 9.49052C0 14.2714 3.87566 18.1471 8.65654 18.1471ZM9.25649 4.68848C9.25649 4.35711 8.98787 4.08848 8.65649 4.08848C8.32512 4.08848 8.05649 4.35711 8.05649 4.68848V10.4395V10.663L8.20268 10.832L10.9495 14.008C11.1662 14.2586 11.5452 14.2861 11.7958 14.0693C12.0464 13.8525 12.0739 13.4736 11.8571 13.223L9.25649 10.216V4.68848Z" fill="#00ADA6"/>
                  </svg>
                  <span>Рабочее время</span>
                </div>
                <input type="text" class="timeInputAllow"  value="{{getValue event "startHour"}}-{{getValue event "endHour"}}" name="name">

<!-- Or, if you want to display each image separately: -->
                </div>
              </div>
              <div class="service_parent" >
                {{#optionsFromArray services "cost" "type" "_id" "images" "description"}}
                   <div class="service_div">
                      <p>Услуги и описание</p><br>
                      <span class="service_type">{{text}}</span>
                      <p class="service_desc">{{desc}}</p>
                      <p>Стоимость услуги</p>
                      <p class="inputAllow">{{value}} ₽</p>
                      {{!-- <p class="inputAllow">I{{id}}</p> --}}
                      <p>{{#if images}}{{{images}}}{{else}}No Images{{/if}}</p>
                   </div>

                {{/optionsFromArray}}
                  
              </div>
              {{!-- <div class="changeEvBox">
                {{!-- <div class="allEvBox_box2">
                  <p class="changeHeadP">Место события</p>
                  <div class="flex_JC_Space-between">
                    <p class="changeText" id="addressLine">{{event.address}}</p>
                    <img src="/images/pics/locationIcon.svg" style="cursor: pointer">
                  </div>
                </div> --}}
                {{!-- <div class="allEvBox_box2">
                  <p class="changeHeadP">Ссылка на билеты</p>
                  <div class="head">
                    <label for="">  Сделать ссылку активной </label>
                    <input type="checkbox" name="tickets_link_active" {{#if event.tickets_link_active}} checked {{/if}} value="1">
                  </div>
                  {{!-- <div class="input-img-box">
                    <input type="text" class="inputAllow inp10" placeholder="Вставьте ссылку" value="{{ event.tickets_link }}" name="tickets_link">
                    <img class="imageText1" src="/images/pics/text1.svg" alt="" srcset="">
                  </div> --}}

                  {{!-- <div class="input-img-box">
                    <input type="text" class="inputAllow inp10" placeholder="Ссылка на веб сайт" value="{{getValue event 'web'}}" name="website_link">
                    <img class="imageText1" src="/images/pics/text1.svg" alt="" srcset="">
                  </div> --}}
                  {{!-- <p>Электронная почта</p> --}}
                  {{!-- <textarea class="inputAllow" name="description_visit">{{getValue event "email"}}</textarea> --}}
                 {{!-- </div>   --}}
              </div>
            </div>
            </form>
          </div>
          </div>
        </div>
      </div>
      <div  id="denyDiv"  style="width:100%;height:870px;background:#12121255;position:absolute;display:none">
      <div id='denyDivChild' >
        <form action="/admin/profile/company/reject/{{getValue event "_id"}}" method="POST">
        <div id="denyDivCont1">
          <p>Причина отклонения Услуги</p>
          <img src="/images/pics/GroupX.svg" onclick="toggleModal('denyDiv','flex')">
        </div>
        <div id="denyDivCont2">
          <textarea id="denyTextarea" cols="20" rows="10" placeholder="Причина" name="status"></textarea>
          <button >Отправить</button>
        </div>
        </form>
      </div>
      </div>

      <script src="../../public/js/axios.js"></script>
      <script>
        //const geoCordLatit = {{getNestedValue event "latitude"}};
        //const geoCordLotit = {{getNestedValue event "longitude"}};
        //const geoPath = `https://api.geoapify.com/v1/geocode/reverse?lat=${geoCordLatit}&lon=${geoCordLotit}&apiKey=5d33a1ddd9db4ee8862f3de928c21e89`;
        // axios.get(geoPath).then((d)=>{
        //  const al = document.getElementById('addressLine');
        //  al.innerHTML = d.data.features[0].properties.address_line2
        //}) 

      function removeimage(el){
        let id = el.getAttribute('attr_id');
        el.parentNode.remove()
         axios.delete(`/admin/profile/company/image/${id}`).then((d)=>{
          
        })
      }

       function buttonFunc() {
    // Տպում barev
    const modal=document.querySelector('.modal');
  modal.style.display = 'flex';
 
    // 10 վայրկյան անց form-ը ուղարկելու ֆունկցիան
    setTimeout(() => {
      const form = document.getElementById('eventForm'); // Վերցնում ենք form-ը
      form.submit(); // Ուղարկում ենք form-ը
    }, 1000); // 10000 միլիվայրկյան = 10 վայրկյան
  }

        // Sample data
        const data = {
            title: 'My Handlebars Image',
            imageSrc: '../../pubimglic/styles/fonts/phoneVector.png',
            altText: 'Descriptive text for the image'
        };

        // Compile the Handlebars template
        const source = document.getElementById('template').innerHTML;
        const template = Handlebars.compile(source);

        // Render the template with the data
        const html = template(data);

        // Insert the rendered HTML into the page
        document.getElementById('content').innerHTML = html;
  
 
      </script>
      <script src="../../public/js/helper.js"></script>
     