<link rel="stylesheet" href="/styles/company.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<div id="events" class="max-height-auto" style="display: flex">
    <div class="modal"><img src="/icon/icons8-verified-48.png" alt=""><span class="modalText"></span></div>

  <div class="eventMainBody">
    <div class="eventHead">
      <div class="eventHeadFirstPart">
        <p>
          {{!-- <a href="/">Главная</a> &gt; --}}
          {{!-- <a href="/admin/profile/events">События</a> &gt; --}}
        </p>
      </div>
      {{!--
      <div id="eventHeadSecondPart" onclick="toggleModal('filter','flex')">
        Фильтр
        <img src="/images/staticimg/Group(10).svg" />
      </div>
      --}}
    </div>

    <div id="eventBody">
      {{!--
      <div id="eventBodyHead">
        <p>Топ</p>
        <img src="/images/staticimg/delete 1.svg" />
      </div>
      --}}
      <div id="changeEvMainDiv">
        <div id="changeEvMainDivContainer1">
          <div id="changeEvBox_header">
            <h4></h4>

            <div id="allowDiv">
              <button
                class="buttonAllow whiteBtn"
                onclick="toggleModal('denyDiv','block')"
              >
                Отклонить
              </button>
              <form action="/admin/profile/meeting/verify/resolve/{{getValue event "_id"}}"
              method="POST" enctype="multipart/form-data" id="eventForm">

              <button type="button" class="buttonAllow" onclick="buttonFunc()">
                {{#if (getValue event "status")}}Изменить{{else}}Одобрить{{/if}}
              </button>
            </div>
          </div>
        </div>
        <hr />

        <div id="changeEvMainDivContainer2">
          <div class="changeEvBox">
            <div class="userDiv">
              <img src="/{{getValue userMeet "avatar"}}" alt=""
              class="user_image">
              <div class="userData">
                <p class="userName">
                  {{getValue userMeet "name"}} {{getValue userMeet "surname"}}
                </p>
                <p class="user_data">{{getValue userMeet "phone_number"}}</p>
                <p class="user_data">{{getValue userMeet "email"}}</p>
              </div>
              {{meetVerify}}
            </div>

            <div class="changeEvBoxCont">
              <input type="text" class="inputAllow" placeholder="Категория"
              value="{{getValue event "name"}} {{getValue event "surname"}}  {{getValue event "family"}}" name="{{getValue event "name"}}">
              <br><span>Паспортный код</span>
              <input type="text" class="inputAllow" placeholder="Название
              событий" value="{{getValue event 'passport'}}" name="{{getValue
              event "name"}}"><br>
              <span>Срок Паспорт</span>
               <input type="text" class="inputAllow"
              placeholder="Категория" value="{{getValue event "term"}}"
              name="name"><br/>
              {{!-- <input type="text" class="inputAllow"
              placeholder="Категория" value="{{getValue event "passportImage"}}"
              name="name"><br />
              --}}
              <div>
                <div class="mapIcon_div">
                  {{!--
                  <svg
                    class="map_icon"
                    width="19"
                    height="24"
                    viewBox="0 0 19 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    --}}
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M9.5 1.20781C5.22408 1.20781 1.79375 4.59711 1.79375 8.69967C1.79375 9.94188 2.21668 11.4224 2.93743 13.0131C3.65119 14.5884 4.61723 16.1859 5.61147 17.6382C7.21473 19.9801 8.84763 21.8817 9.5 22.6174C10.1524 21.8817 11.7853 19.9801 13.3885 17.6382C14.3828 16.1859 15.3488 14.5884 16.0626 13.0131C16.7833 11.4224 17.2063 9.94188 17.2063 8.69967C17.2062 4.5971 13.7759 1.20781 9.5 1.20781ZM9.78643 22.9357L9.78639 22.9357L9.78643 22.9357ZM9.5 14.2728C6.39416 14.2728 3.81909 11.8011 3.81909 8.69967C3.81909 5.59818 6.39423 3.1266 9.5 3.1266C12.6058 3.1266 15.1809 5.59826 15.1809 8.69971C15.1809 11.8012 12.6058 14.2728 9.5 14.2728ZM0.59375 8.69967C0.59375 3.90697 4.58907 0.0078125 9.5 0.0078125C14.4109 0.0078125 18.4062 3.90697 18.4062 8.69967C18.4062 14.6475 10.436 23.3794 10.0967 23.7482C9.77853 24.094 9.22204 24.0947 8.90331 23.7482C8.56397 23.3794 0.59375 14.6475 0.59375 8.69967ZM5.01909 8.69967C5.01909 11.111 7.02919 13.0728 9.5 13.0728C11.9708 13.0728 13.9809 11.1111 13.9809 8.69971C13.9809 6.28837 11.9708 4.3266 9.5 4.3266C7.02924 4.3266 5.01909 6.28832 5.01909 8.69967Z"
                      fill="#00ADA6"
                    />
                  </svg>
                </div>
                {{!-- <input type="text" class="inputAllow" value="{{getValue
                event "address"}}" name="name"> --}}
              </div>
              <br />
              {{!--
              <p>Фото интерьеров</p>
              <br />
              --}}
              <div id="pics1">
                {{!-- {{#if event}} {{#optionsFromArrays images "_id" "url" }}

                <div
                  class="changeEvDiv"
                  style="background-image: url('http://localhost:3000/{{this.url}}')"
                >
                  <img
                    src="/images/pics/GroupX.svg"
                    class="removeButton"
                    onclick="removeimage(this)"
                    attr_id="{{this._id}}"
                  />
                </div>
                {{/optionsFromArrays}} {{/if}} --}} {{!--
                <div class="changeEvDiv">
                  <img src="/images/pics/GroupX.svg" />
                </div>
                <div class="changeEvDiv">
                  <img src="/images/pics/GroupX.svg" />
                </div>
                --}}
              </div>
              <br />
            </div>
          </div>
          <img src="/{{getValue event "passportImage"}}" alt="" id="passport">
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  id="denyDiv"
  style="
    width: 100%;
    height: 870px;
    background: #12121255;
    position: absolute;
    display: none;
  "
>
  <div id="denyDivChild">
    <form action="/admin/profile/meeting/verify/reject/{{getValue event "_id"}}" method="POST">
      <div id="denyDivCont1">
        <p>Причина отклонения События</p>
        <img
          src="/images/pics/GroupX.svg"
          onclick="toggleModal('denyDiv','flex')"
        />
      </div>
      <div id="denyDivCont2">
        <textarea
          id="denyTextarea"
          cols="20"
          rows="10"
          placeholder="Причина"
          name="status"
        ></textarea>
        <button>Отправить</button>
      </div>
    </form>
  </div>
</div>

<script src="../../public/js/axios.js"></script>
<script>
  //const geoCordLatit = {{getNestedValue event "latitude"}};
  //const geoCordLotit = {{getNestedValue event "longitude"}};
  //const geoPath = `https://api.geoapify.com/v1/geocode/reverse?lat=${geoCordLatit}&lon=${geoCordLotit}&apiKey=5d33a1ddd9db4ee8862f3de928c21e89`;
  // axios.get(geoPath).then((d)=>{
  //  const al = document.getElementById('addressLine');
  //  al.innerHTML = d.data.features[0].properties.address_line2
  //})

document.querySelectorAll('img').forEach(img => {
      img.addEventListener('contextmenu', (e) => {
          e.preventDefault(); // արգելում է աջ կոճակի մենյուն
      });
  });

  // Wait for the src to be set dynamically





  

  function removeimage(el) {
    let id = el.getAttribute("attr_id");
    el.parentNode.remove();
    axios.delete(`/admin/profile/event/image/${id}`).then((d) => {});
  }

  // Sample data
  const data = {
    title: "My Handlebars Image",
    imageSrc: "../../pubimglic/styles/fonts/phoneVector.png",
    altText: "Descriptive text for the image",
  };

   function buttonFunc() {
    // Տպում barev
    const modal=document.querySelector('.modal');
  modal.style.display = 'flex';
 
    // 10 վայրկյան անց form-ը ուղարկելու ֆունկցիան
    setTimeout(() => {
      const form = document.getElementById('eventForm'); // Վերցնում ենք form-ը
      form.submit(); // Ուղարկում ենք form-ը
    }, 1000); // 10000 միլիվայրկյան = 10 վայրկյան
  }

  // Compile the Handlebars template
  const source = document.getElementById("template").innerHTML;
  const template = Handlebars.compile(source);

  // Render the template with the data
  const html = template(data);

  // Insert the rendered HTML into the page
  document.getElementById("content").innerHTML = html;
</script>
<script src="../../public/js/helper.js"></script>
