<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap@5.3.0.css">
    <title>{{title}}</title>
    <meta name="description" content="Web site created Webex.am"/>    
    <meta property="og:site_name" content="AllEven">
    <meta property="og:title" content="{{getValue event "purpose"}}" />
    {{!-- <meta property="og:description" content="{{event.category.name}}"> --}}
    <meta property="og:image" itemprop="image" content="https://chatapi.trigger.ltd/{{getValue image "url"}}" />
    <meta property="og:image:secure_url" itemprop="image" content="https://chatapi.trigger.ltd/{{getValue image "url"}}" />
    <meta property="og:type" content="website" />


    <meta name="twitter:title" content="{{getValue event "purpose"}}">
    {{!-- <meta name="twitter:description" content="{{event.category.name}}"> --}}
    <meta name="twitter:image" content="https://chatapi.trigger.ltd/{{getValue image "url"}}">
    <meta name="twitter:card" content="summary_large_image">
</head>
    <body>
        <div class="container">
        <div class="card border-0" style="">
            <img id="imgCard" class="card-img-top" alt="Card image cap">
            
            <div class="card-body text-center">
                <h5 class="card-title">{{getValue event "companyName" }}</h5>

                
                <p class="card-text"><span>Категория: </span>{{getValue category "name" }}</p>
               
                
                {{!-- <p class="card-text"><span>Дата: </span>{{getValue event "date" }}</p> --}}

                <p class="card-text"><span>Место прохождения:: </span>{{getValue event "address" }}</p>

                <p class="card-text"><span>Телефон: </span>{{getValue phone "number" }}</p>
               
            </div>
        </div>
        </div>

        <div style="display: none" id="imgList">
            {{#each images}}
                <img id="imgList{{@index}}" class="card-img-top" src="/{{getValue this "url"}}" alt="Card image cap">
            {{/each}}


        </div>
    </body>

    <script>


        const img = document.getElementById('imgCard')
        img.src=document.getElementById('imgList0').src;

        let im = 1;


        setInterval(() => {
         img.src=document.getElementById('imgList' + im).src;

         im++
         
         if(!document.getElementById('imgList' + im)){
            im = 0;
         }
        }, 4000);


    </script>
</html>