<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/share/evnt.css" />

    <meta property="og:site_name" content="AllEven">
    <meta property="og:title" content="{{event.name}}" />
    <meta property="og:description" content="{{event.category.name}}">
    <meta property="og:image" itemprop="image" content="https://alleven.ru/{{event.images.[0].name}}" />
    <meta property="og:image:secure_url" itemprop="image" content="https://alleven.ru/{{event.images.[0].name}}" />
    <meta property="og:type" content="website" />


    <meta name="twitter:title" content="{{event.name}}">
    <meta name="twitter:description" content="{{event.category.name}}">
    <meta name="twitter:image" content="https://alleven.ru/{{event.images.[0].name}}">
    <meta name="twitter:card" content="summary_large_image">

  </head>

  <body>
    <div id="events">
      <div class="eventMainBody">
        <div class="allEvBox">
          <h3 class="title">{{ event.name }}</h3>

          {{#if event.images}}
          <div id="pics1">
            {{#each event.images}}
            <img
              src="/{{ name }}"
              class="allEvImg"
              width="100px"
            />
            {{/each}}
          </div>
          {{/if}}
          <div class="allEvBoxContDiv">
            <div id="boxDescription">
              {{#if event.description}}
              <p><span>Описание </span>{{event.description}}</p>
              {{/if}}
            </div>
            
            <p class="boxP"><span>Дата:</span>{{convertDate event.started_time}}</p>
            {{#if event.owner.phone_number}}
            <p class="boxP"><span>Телефон:{{event.owner.phone_number}}</span></p>
            {{/if}}

            {{#if event.address}}
            <p class="boxP boxPflex">
              <span>Место прохождения:</span>
              <a id="addressLine">{{event.address}}</a>
            </p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
